/* 
CSS Reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
Style
*/

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-family: "Roboto";
    background-color: #E3E8EF;
}

img {
    width: 25px;
    height: 25px;
}

img.bigImage{
    width: 35px;
    height: 35px;
}

.header .row1,
.header .row2 {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

input {
    width: 500px;
    margin-right: auto;
}

.header {
    grid-column: 2 / 3;
    background-color: white;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow:  0px 2px 5px rgba(2, 2, 10, 0.2);
    
}

.greetingCell {
    margin-right: auto;
}

.sideBar {
    display: flex;
    flex-direction: column;
    grid-row: 1/3;
    padding: 30px;
    gap: 30px;
    background-color: #4590CE;
    
    
}

.sideBarCell {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

#settingsCell {
    margin-top: 50px;
}

#sideBarTitleCell {
    margin-bottom: 50px;
    font-size: 20px;
}



.workspaceContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    padding: 30px;
}

.projectsContainer {
    grid-row: 1 / 3;
}

.projectsList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.projectCard {
    height: 170px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-left: solid 10px #E7B64A;
   
    
    
}

.projectActionsIcons {
    
    margin-top: auto;
    margin-left: auto;
    gap: 5px;
    
}

.projectCard, .announcementsList, .trendingList {
    background-color: white; 
    box-shadow:  1px 2px 5px rgba(2, 2, 10, 0.2);
    border-radius: 10px;
}

.projectsList, .announcementsList, .trendingList {
    margin-top: 5px;
}



.announcementsList {
    padding: 20px;
    gap: 20px;
}

.announcementCell {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trendingList {
    padding: 20px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.trendingCell {
    display: flex;
    align-items: center;
    gap: 10px;
}


